*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font-family: 'Poppins', sans-serif; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    background-image:linear-gradient(rgba(66 66 187/80%) , rgba(136 136 206/0.7)),
     url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.intro
{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
}
#error_paragraph
{
    display: none;
}
#title{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
#description
{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 25px;
    font-style: italic;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
}

#survey-form
{
    /* width: 700px; */
    height: 100%;
    background-color: rgba(27, 27, 50, 0.8);
    display: block;
    margin: 0 auto;
}
label
{
    color: white;
    font-size: 25px;
    margin-left: 10px;
    font-size: 27px;
    font-weight: bold;
}
 #name, #email, #age
{
    /* width: 450px;
    height: 40px; */
    text-indent: 5px;
    margin-left: 8px;
   font-size: 25px;
    border-radius: 10px;
    

}

#dropdown_label
{
    font-size: 27px;
    font-weight: bold;
}

.select {
    display: block;
    /* width: 30em;
    height: 3em; */
    line-height: 3;
    /* overflow: hidden; */
    border-radius: .25em;
}
#dropdown
{
    /* width: 450px;
    height: 40px; */
    font-size: 22px;
    /* -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none; */
    outline: 0;
    background: white;
    border: 1px solid black;
    margin-left: 8px;
    border-radius: 10px;
    cursor: pointer;
}
#first_child
{
    background-color: lightgrey;
}
#dropdown:hover
{
    color: purple;
}

.radio_container
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 16px;
}
.radio_inner_container
{
    display: flex;
    flex-direction: row;
    padding: 10px;
    cursor: pointer;

}
.radio_inner_container input
{
    font-size: 25px;
}
#radio_p
{
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    padding-left: 10px;
    margin-top: -8px;
}

.checkbox_container
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 16px;
}
.checkbox_inner_container
{
    display: flex;
    flex-direction: row;
    padding: 10px;
    cursor: pointer;
}
.checkbox_inner_container p
{
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    padding: 0 15px;
    margin-top: -8px;
}

#textarea_label
{
    display: block;
    margin: 0 auto;
    text-align: center;
}
textarea
{
    display: block;
    margin: 0 auto;
    font-style: normal;
    font-size: 14px;
    color: blue;
    border: 2px solid lightgray;
    box-shadow: 2px 2px 4px 2px grey;
}

#submit
{
    color: burlywood;
    background-color: white;
    /* width: 600px;
    height: 40px; */
    border: 2px solid white;
    border-radius: 5px;
    /* margin-left: 20px; */
    margin-bottom: 10px;
    font-size: 25px;

}
#submit:hover{
    color: white;
    background-color: black;
    cursor: pointer;
    border-color: black;
}
#emailButton
{
    /* width: 450px;
    height: 50px; */
    color: red;
    background-color: bisque;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}
#emailButton:hover
{
    color: blue;
    background-color: white;
    border-radius: 10px;
    border: 3px solid;
    border-color: red orange green blue;
}

